Source: libting
Section: devel
Priority: extra
Maintainer: Ivan Gagis <igagis@gmail.com>
Build-Depends: doxygen
Standards-Version: 3.7.2

Package: libting-dev
Section: devel
Architecture: any
Depends:
Suggests: libting-doc
Description: simple cross-platform C++ library.
 For multithreaded development ting provides classes such as Mutex, Semaphore, Thread, Queue, Message, CondVar.
 For network development it provides TCPSocket, UDPSocket classes, etc.
 It also provides reference counted pointers, smart pointers for buffers.
 The library code is entirely in .hpp files.

Package: libting-doc
Section: devel
Architecture: any
Depends: libting-dev
Description: documentation for libting - simple cross-platform C++ library.
 Documentation for libting - simple cross-platform C++ library.
 For more details see description to libting-dev package.
