Source: libting
Section: misc
Priority: extra
Maintainer: Ivan Gagis <igagis@gmail.com>
Build-Depends: debhelper (>= 9), doxygen, libc6-dev
Standards-Version: 3.9.2

Package: libting3
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: cross-platform C++ utility library.
 For multithreaded development ting provides classes such as Mutex, Semaphore, Thread, Queue, Message, CondVar.
 For network development it provides TCPSocket, UDPSocket classes, etc.
 It also provides reference counted pointers, smart pointers for buffers.

Package: libting3-dbg
Section: libdevel
Architecture: any
Depends: libting3 (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for libting3 package.

Package: libting-dev
Section: devel
Architecture: any
Depends: libting3 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: libting-doc, libting3-dbg (= ${binary:Version})
Description: cross-platform C++ utility library.
 For multithreaded development ting provides classes such as Mutex, Semaphore, Thread, Queue, Message, CondVar.
 For network development it provides TCPSocket, UDPSocket classes, etc.
 It also provides reference counted pointers, smart pointers for buffers.

Package: libting-doc
Section: devel
Architecture: all
Depends: ${misc:Depends}
Description: documentation for libting - simple cross-platform C++ library.
 Documentation for libting - simple cross-platform C++ library.
 For more details see description to libting-dev package.
